
//custom variables

$primary: #6633CC;
$secondary: #CC3467;
$danger:#F5DF12;


// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/bootstrap";